---
import "../styles/global.css";
import SpiralTunnel from '../components/SpiralTunnel.jsx';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Calendar App</title>
  </head>
  <body>
    <SpiralTunnel client:load />
  </body>
</html>